/* :root {
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.componentTemplate {
  min-width: 900px;
  margin: 60px;
  background-color: rgba(56, 56, 82, 255);
  border-radius: 25px;
}

.container {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(236, 236, 236, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: rgba(236, 236, 236, 255);
}

.textContainer {
  background-color: aliceblue;
  width: 800px;
  height: 400px;
  overflow: scroll;
}
