.flex {
  display: flex;
}

.row {
  flex-direction: row;
  gap: 80px;
}

.center {
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.over-y {
  overflow-y: scroll;
}

.pad-40 {
  padding: 40px;
}

.pad-30 {
    padding: 30px;
  }

.gap {
  gap: 40px;
}
