.componentTemplate {
  min-width: 800px;
  background-color: bisque;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
  gap: 10px;
}

.center {
  align-items: center;
  justify-content: center;
}


